:root {
    --logo-size: 80px;
    --primary-background: white;
    --secondary-background: rgb(241, 241, 241);
    --navbar-color: rgb(250, 165, 55);
    --dark-orange: rgb(172, 95, 23);
    --function-border-radius: 5px;
    --navbar-height: 70px
}

.primary-background{
    background-color: var(--primary-background);
}

.secondary-background {
    background-color: var(--secondary-background);
}

h1 {
    font-size: 1.8em;
}

main {
    padding-top: calc(var(--navbar-height) + 5px);
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--navbar-color);
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

nav img {
    width: var(--logo-size);
    height: var(--logo-size);
}

section {  
    padding: 20px;
}

#functions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.function-container {
    background-color: var(--secondary-background);
    min-width: 300px;
    max-width: 80%;
    min-height: 100px;
    border-radius: var(--function-border-radius);
}

.function-body {
    padding: 15px;
}

.function-container img {
    width: 100%; 
    border-top-left-radius: var(--function-border-radius);
    border-top-right-radius: var(--function-border-radius);
    cursor: pointer;
}

.button-container{
    display: flex;   
    justify-content: end;
}

.button-container button{
    color: white;
    background-color: var(--navbar-color);
    border: none;
}

.button-container button:hover {
    background-color: var(--dark-orange);
    color: white;
}

.hour {
    border: 1px black solid;
    padding: 4px;
    border-radius: 5px;
    width: fit-content;
    font-size: 0.8em;
    margin-bottom: 15px;
}

footer {
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 10px;
}

footer p {
    text-align: right;
    font-size: 0.8em;
}

h2, h3, b {
    color: var(--dark-orange) !important;
}
p, h2 {
    text-align: center;
}